# General Directories and Files
/.gradle/
/.vs/
/AssetBundles/
/MemoryCaptures/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Oo]bj/
/[Bb]in/
/[Tt]emp/
/[Ll]ogs/
.DS_Store

# VisualStudio Directories and Files
/*.csproj
/*.sln
/*.user