*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/usage.statistics.xml

*/.idea/contentModel.xml
*/.idea/gradle.xml

*/.idea/shelf/
*/.idea/dictionaries/
*/.idea/libraries/

*/.idea/dataSources/
*/.idea/dataSources.ids
*/.idea/dataSources.local.xml
*/.idea/sqlDataSources.xml

*/.idea/copilot.data.migration.*.xml
*/.idea/projectSettingsUpdater.xml
